<h1>Help</h1>
 <h2>
	<p>
		あなたの気分に合わせてツイッターを選ぶことができます。<br>
		美味しかったー！楽しかったー！とリア充アピールがしたいあなたは【リアったー】へgo!<br>
		死にたい…　私なんて…　と鬱イートをして心配してもらいたいメンヘラなあなたは【鬱ったー】へgo!<br>
		経営者に必要なのはやはり意思決定か　など悟ったあなたは【悟ったー】へgo!<br>
	</p>
 </h2>


<!-- <p>
  Get help on the Ruby on Rails Tutorial Baseball at the
  <a href="http://railstutorial.jp/help">Rails Tutorial help page</a>.
  To get help on this Baseball, see the
  <a href="http://railstutorial.jp/book">Rails Tutorial book</a>.
</p> -->

