<% provide(:title, "category") %>
 <div class="center hero-unit">
  <h1>どれでつぶやく？</h1>  

    <%= link_to "リアったー", {action: :ria},  class: "button button-circle button-circle-plus button-flat-highlight" %>
    <%= link_to "愚痴ったー", {action: :yami}, class: "button button-circle button-circle-plus button-flat-primary" %>
    <br>
    <br>
    <%= link_to "悟ったー", {action: :sato}, class: "button button-circle button-circle-plus button-flat-royal" %>
    <%= link_to "伝えたったー", {action: :maji}, class: "button button-circle button-circle-plus button-flat-action" %>

  </div>

