<footer class="footer">
  <small>
    <%= link_to "#{@title}ったー", category_path, id: "logo" %>
    by Koki Iwata feat.地獄のミサワ
  </small>
  <nav>
    <ul>
      <li><%= link_to "◯◯ったーについて",   about_path %></li>
      <li><%= link_to "不満がある方はこちら", contact_path %></li>
      <li><a href="http://news.railstutorial.jp/">News</a></li>
    </ul>
  </nav>
</footer>